/* Стилизация секции партнеры для десктопа */
@media screen and (min-width:480px) {
.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;

.clients__item {
    display: flex;
    align-items: center;
    margin: 15px;
}
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: color, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--team-icon-color);

    &:hover,
    &:focus {
        color: var(--acent-color);
        border: 1px solid var(--acent-color);
    }
}

.clients__icon {
    fill: currentColor;
}
}

@media screen and (min-width:1200px) {

.clients {
    flex-wrap: nowrap;
}
.clients__link {
    width: 170px;
}
}