// Стилизация главной секции для телефона

@media screen and (min-width: 480px) {
    .main {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/main-img/main-img-phone/header-phone.jpg);
        background-color: #c4c4c4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 118px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(/images/main-img/main-img-phone/header-phone@2x.jpg);
        }
    }
}

// Стилизация главной секции для планшета
@media screen and (min-width: 768px) {
    .main {
        max-width: 768px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/main-img/main-img-tbl/header-tbl.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(/images/main-img/main-img-tbl/header-tbl@2x.jpg);
        }
    }
}

// Стилизация главной секции для десктопа

@media screen and (min-width: 1200px) {
.main {
    max-width: 1600px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(./images/main-img/main-img-dtop/main-img.jpg);
    padding: 200px 0;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(./images/main-img/main-img-dtop/main-img@2x.jpg);
    }
}
}