/* Стилизация логотипа в шапке */
.logo {
    display: block;
    transition-property: text-decotation;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    color: var(--acent-color);
    font-family: var(--second-font);
    @include font-style (700, 24px, 28px, 0.03em);
    text-align: center;

    text-decoration: none;

    @media screen and (min-width: 1200px) {
        @include font-style (700, 26px, 31px, 0.03em);
        text-align: left;
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.logo--dark {
    color: #000;
}

/* Часть логотипа в футере */

.logo--light {
    color: #fff;
    font-family: var(--second-font);
}