.section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section--top-zero {
        display: none;
        padding-top: 0;
    }

    .section--other-bg {
        background-color: #f5f4fa;
    }

@media screen and (min-width:1200px) {
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--top-zero {
    display: block;
    padding-top: 0;
}


}

